{% extends 'index.html' %}


{% block content %}

 {% load static %}
  <div id="templatemo_main">
            <div class="col col23">
                <h2>About Our Company</h2>
                <p><em>There are given short information about Ziyat education center and aims and targets .</em></p>
                <p>In 2016, a team of entrepreneurs came to a crossroads. The country was affected by the economic crisis, which rapidly infected almost all industries in Kazakhstan. One of the most important milestones in the life of every student – a Single National Test – could not pass thousands of applicants. Among them were members of our families.
                    At the time of the depreciation of oil and the dollar, the deterioration of the economy, everyone asked questions: where is it really worth investing money? What will devaluation and inflation never touch? Is there a most stable and reliable currency? After a while we found the answer – simple and very convincing – Knowledge and Innovation. It is these two simple components that can create continuous development, dynamic movement and always acquire special value. We decided to invest our strength, finances and creativity in them as much as possible..</p>
                <ul class="tmo_ul_list">
                    <li>Development of a strategy for future activities and development of a plan;.</li>
                    <li>Start of trainings according to the schedule.</li>
                    <li>Distribution of offers of the center to the companies-potential clients;.</li>
                    <li>Creation and promotion of the center's own website..</li>
                    <li>Placement of advertisements in specialized media and on thematic sites.</li>
                </ul>
          		<div class="cleaner h40"></div>
                <h3>High-quality</h3>
              	<img src="{% static 'images/qqq.jpg' %}" alt="" class="img_fl img_border" />
                <h4>Learning with time management</h4>
                <p>We are open to change, so we support and create useful and promising innovations in education..</p>
                <a href="#">More</a>
                <div class="cleaner h40"></div>
                <h3>Development</h3>
              	<img src="{% static 'images/templatemo_image_02.jpg' %}" alt="" class="img_fl img_border" />
                <h4>Improve our company</h4>
                <p>We invest resources in the comprehensive development of our employees, so we put their comfort and interests first.</p>
                <a href="#">More</a>
            </div>
           <div class="col col13 no_margin_right">
                <h2>Courses</h2>
                <p><em>There are more courses at high schools .</em></p>
                <p>We believe that everyone who works for the benefit of education is our like-minded person, so we have no competitors, we have only partners..</p>
                <ul class="tmo_ul_list">
                    <li class="first"><a href="#">English language</a></li>
                    <li><a href="#">Biology</a></li>
                    <li><a href="#">Algebra(math)</a></li>
                    <li><a href="#">Russian language</a></li>
                    <li><a href="#">Chemistry</a></li>
                    <li><a href="#">Physics</a></li>
                    <li><a href="#">Geography</a></li>
                    <li><a href="#">Kazakh language</a></li>
                </ul>
                <div class="cleaner h40"></div>
                <div id="newsletter">
                    <h4>Comment</h4>
                    <p>If you have a question or something hate write here!. </p>
                    <form action="#" method="get">
                      <input type="text" value="" name="keyword" id="keyword" title="keyword" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
                      <input type="submit" name="Send" value=" Send " alt="Send" id="subscribe_btn" title=" Send " class="subscribe_btn"  />
                      <div class="cleaner"></div>
                    </form>
                    <div class="cleaner"></div>
                </div>
            </div>
            <div class="cleaner"></div>
        </div>

{% endblock %}