{% extends 'index.html' %}

{% block head %}
{%load static%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
{% endblock %}

{% block content %}

 {% load static %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Student</th>
      <th scope="col">Grade</th>
      <th scope="col"></th>
      <th scope="col">SMS</th>
    </tr>
  </thead>
  <tbody>

 {% for s in students %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{ s.user.first_name }} {{s.user.last_name}}</td>

        {% for g in grade %}
        <form action="{% url 'set_grade' g.course_id s.group_id user.pk s.pk %}" method="POST">
          {% csrf_token %}
        {% if s.pk == g.student_id %}
            <td><input type="number" name = "grade" value="{{ g.grade }}" style="width:50px"></td>
        {% else %}

        {% endif %}

        {% endfor %}

          <td><button type="submit" >Put</button></td>
      </form>
      <th><a href="/sms/"><button class="contact100-btn-show"><i class="fa fa-envelope-o" aria-hidden="true"></i></button></a></th>
    </tr>
  {% endfor %}

  </tbody>
</table>
{% endblock %}

{% block body %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}